                           <!-- Crew  Section -->
        <section id="crew" class="services-section">
               <div class="container">
<div id = "outer_box">
    <div id ="disc_box"><button id ="click" onclick="myFunction()">click here</button>
    fjkasdhflaksjdhfkasjbdfnaksjbckasjbndvsbdvs.bdkvzbv</div>

<div id ="inner_box">
         
        <div class ="post" id =  "faculty_head" >
            
            <div id ="faculty_disc">
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
        <img  id ="faculty_pic" src="{% static  "common/images/about-us-1.jpg" %}" alt="My image"/>
            </div>
            <div id ="empty_div"> </div>
        </div>

        <div id ="team_members" class ="post" >
        
        <div class="col-lg-4">
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            </div>
                <div class="col-lg-4">
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            </div>
                <div class="col-lg-4">
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            </div>
                <div class="col-lg-4">
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh</div>
                        <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            <div class ="faculty_info">Dr. Ravinderjit Singh Walia</div>
            </div>


</div>

</div>
<div id = "lower_box"></div>


</div>
</div>
 
</section>



div#faculty_head {
    display: block;
}
div#faculty_disc {
    padding-left: 122px;
}



